%h1 Posts

= link_to 'New Post', new_post_path

.posts
  %ul
    - @posts.each do |post|
      %li
        %h2= post.subject
        %p= post.body
        .actions
          %span= link_to 'Show', post
          %span= link_to 'Edit', edit_post_path(post)
          %span= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
